version: '3.9'

services:
  tg-assistant:
    build: .
    container_name: tg-assistant
    ports:
      - '3000:3000'
    restart: always
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - '6379:6379'
    restart: always
    volumes:
      - redis:/data

  db:
    image: postgres:16-alpine
    container_name: db
    ports:
      - '5432:5432'
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  redis:
    external: false
  db:
    external: false